<div class="main bg-primary">
    <div class="navbar ">

        <app-navbar></app-navbar>
    </div>
    <div class="head">
        <div class="title ">
            <div class="heading-subheading ">

                <div class="heading " #mainTitle>

                    <span> Cardio <br> Exercise </span>
                </div>
                <div class="subheading ">

                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Nulla,
                        aliquam. <br> Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="buttons ">
                    <button class="btn bg-green">Get Started</button>
                    <button class="btn bg-secondary">Preview</button>
                </div>
            </div>

        </div>
        <div class="banner ">

            <img src="image 1.png" alt="img">
        </div>
    </div>
</div>