.main {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    /* Full height of the viewport */
    background-color: #000000;
    /* Use bg-primary color */
}

.qr-container {
    text-align: center;
    /* Center the QR code */
}