<div class="main ">
    <div class="exercises-grid bg-primary">
        <div class="title">
            <p>Popular Exercises</p>
            <p>SEE MORE EXERCISES</p>
        </div>
        <br>
        <div class="posters ">
            <div class="grid-item"><img src="image 2.png"
                    alt><p>250 est calories</p> <h1>Yoga</h1></div>
            <div class="grid-item"><img src="image 3.png"
                    alt><h1>PushUP</h1><p>250 est
                    calories</p></div>
            <div class="grid-item"><img src="image 4.png" alt><p>250 est
                    calories</p><h1>Treadmill</h1></div>
            <div class="grid-item"><img src="image 6.png" alt><p>250 est
                    calories</p><h1>Lifting</h1></div>
            <div class="grid-item"><h1>Stretching</h1><img src="image 7.png"
                    alt><p>250 est
                    calories</p></div>
            <div class="grid-item"><img src="image 12.png" alt><p>250 est
                    calories</p><h1>Running</h1></div>
        </div>
    </div>
</div>